
.cardContainer {
    display: flex;
    gap: 3%;
    margin-top: 3%;
    justify-content: center;
}

.graphContainer {
    display: flex;
    gap: 3%;
    margin-top: 1%;
    justify-content: center;
}

.dataContainer {
    display: flex;
}

/* .cardContainer {
    display: flex;
    flex-direction: row;
} */

.dataContainerImg {
    height: 6rem;
    display: flex;
    margin-left: 25%;
    margin-top: 10%;
}

.dataContainerImg img {
    border-radius: 10px;
}
